{% extends 'registrar/layout.html' %}
{% block body %}

<h3 style="margin-top:100px ;">ENROLLMENT RESULT</h3>
<table>
  <tr>
    <th>CODE</th>
    <th>COURSE NAME</th>
    <th>SEMESTER</th>
    <th>YEAR</th>
  </tr>
  <tr>
    <td>{{ course.course_code }}</td>
    <td>{{ course.course_name }}</td>
    <td>{{ course.semester }}</td>
    <td>{{ course.year }}</td>
  </tr>
</table>
<br>
<a href="{% url 'rgindex' %}"><button  class="back"><i class="fa fa-angle-double-left"></i> Back</button></a>

{% endblock %}