{% extends 'registrar/layout.html' %}
{% block body %}
<br><br>
<h1>ENROLLMENT RESULT</h1>
<table>
  <tr>
    <th>CODE</th>
    <th>COURSE NAME</th>
    <th>SEMESTER</th>
    <th>YEAR</th>
    <th></th>
  </tr>
  <tr>
    <td>{{ course.course_code }}</td>
    <td>{{ course.course_name }}</td>
    <td>{{ course.semester }}</td>
    <td>{{ course.year }}</td>
    <td><a href="{% url 'remove' course.id %}"><button class="remove">Remove</button></a></td>
  </tr>
</table>
<br>
<a href="{% url 'rgindex' %}"><button  class="back"><i class="fa fa-angle-double-left"></i> Back</button></a>

{% endblock %}