{% extends 'registrar/layout.html' %}
{% block body %}

<div>
<br><br>
  <h2 style="margin-top: 50px;margin-left: 30px;">COURSES</h2>
  
  <table style="text-align: center;">
    <tr class = "header">
      <th>CODE</th>
      <th>COURSE NAME</th>
      <th>SEMESTER</th>
      <th>QUOTA</th>
      <th>REGISTER</th>
    </tr>
      {% for course in courses %}
      <tr>
        <td><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></td>
        <td>{{ course.course_name }}</td>
        <td>{{ course.semester }}/{{ course.year }}</td>
        <td>{{ course.seat }}</td>
        <td><a href="{% url 'add' user.username course.id %}"><button class="btn enroll"><i class="fa fa-pencil-square-o"></i></button></a></td>
      </tr>
      {% endfor %}
  </table>
  <br>
  <h3 style="margin-top: 50px;margin-left: 30px">
    <a href="{% url 'register' user.username %}"><i class="fa fa-book"></i>see your quota</a>
  </h3>
</div>

{% endblock %}